<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://dl.dropboxusercontent.com/content_link/kmk5RmbN7SuwhyEPqYMb4U99zb5jnKM6tMfWzwsdordhhl6uISpyLh7f5BH53o86/file?dl=1</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://sa-help.net/Pro1/snap/AppIconvip.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://sa-help.net/Pro1/snap/AppIconvip.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>ؤcom.blackberry.bbm1</string>
				<key>bundle-version</key>
				<string>2.5.0</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>SNAPVIP</string>
				<key>title</key>
				<string>SNAPVIP 
بدون جلبريك  
نظام ios 9
سلطان 
حساب تويتر 
@Programmer_s
Pro1
</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
